flows.json
[{"id":"8198f141.f979c","type":"tab","label":"Monitoring Geofence 2","disabled":false,"info":""},{"id":"afb39bb.e54a868","type":"worldmap-tracks","z":"8198f141.f979c","name":"Track","depth":20,"layer":"combined","x":752.0000076293945,"y":209.00000190734863,"wires":[["76f893fb.bf44cc"]]},{"id":"76f893fb.bf44cc","type":"worldmap","z":"8198f141.f979c","name":"Map","lat":"14.9080937","lon":"78.0119596","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":923.0000114440918,"y":132.99999046325684,"wires":[]},{"id":"f3012d1e.12715","type":"function","z":"8198f141.f979c","name":"Formatting Data","func":"global.set(\"user\",msg.payload.tid);\nreturn {\n    payload: {\n        name: msg.payload.tid,\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        icon: 'user-circle-o'\n    }\n};","outputs":1,"noerr":0,"x":566.0000076293945,"y":135.99999618530273,"wires":[["76f893fb.bf44cc","afb39bb.e54a868"]]},{"id":"1f04f736.db1129","type":"http in","z":"8198f141.f979c","name":"WebPage","url":"/loc","method":"get","upload":false,"swaggerDoc":"","x":80,"y":520,"wires":[["f52585f3.5e9fc8"]]},{"id":"7c87cb21.884644","type":"http response","z":"8198f141.f979c","name":"","statusCode":"","headers":{},"x":384.00000381469727,"y":605.0000019073486,"wires":[]},{"id":"700baa27.a14424","type":"template","z":"8198f141.f979c","name":"WebTemplate","field":"payload","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"<html>\n      <head>\n            <title>GeoFence Location</title>\n      </head>\n      <body>\n            <div>obtaindata</div>\n      </body>\n</html>","output":"str","x":145,"y":605.0000019073486,"wires":[["7c87cb21.884644"]]},{"id":"f52585f3.5e9fc8","type":"function","z":"8198f141.f979c","name":"GetData","func":"var obtaindata = global.get (\"data\")\nmsg.payload = obtaindata;\nreturn msg;","outputs":1,"noerr":0,"x":303.00000381469727,"y":521,"wires":[["700baa27.a14424"]]},{"id":"3b0870e.3a2459","type":"geofence","z":"8198f141.f979c","name":"Orange CZ","mode":"circle","inside":"both","rad":56.2797789744188,"points":[],"centre":{"latitude":17.489704690958693,"longitude":78.45487117767334},"x":122.00003051757812,"y":245.00000381469727,"wires":[["2fc9f4ff.4018ec"]]},{"id":"b5bf4c86.9eab1","type":"geofence","z":"8198f141.f979c","name":"Red CZ","mode":"circle","inside":"both","rad":24.137362147830505,"points":[],"centre":{"latitude":17.489648410262014,"longitude":78.4530633687973},"x":100,"y":320,"wires":[["e70163ca.9bbf2"]]},{"id":"b7ff4e04.29bdf","type":"function","z":"8198f141.f979c","name":"Corr. Msg","func":"var obtainzone1 = global.get (\"zone1\")\nvar obtainzone2 = global.get (\"zone2\")\n\nif(obtainzone1 == \"BLUE\" && obtainzone2 == \"NOT RED\")\n{\n    msg.payload = \"Inside Blue zone\\n\";\n}\nelse if(obtainzone1 == \"RED\" && obtainzone2 == \"NOT BLUE\")\n{\n    msg.payload = \"Inside Red zone\\n\";\n}\nelse if(obtainzone1 == \"NOT BLUE\" && obtainzone2 == \"NOT RED\" )\n{\n    msg.payload = \"outside zone\\n\";\n}\nglobal.set(\"data\",msg.payload);\nmsg.topic = \"Status\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["b5a07d90.a3465","8887025.34941","77c3580d.286328","228d3a59.883ff6"]]},{"id":"e70163ca.9bbf2","type":"function","z":"8198f141.f979c","name":"is-Inside-RCZ?","func":"if(msg.location.inarea === true)\n{\n    msg.payload = \"RED\";\n    global.set(\"zone2\",msg.payload);\n}\nelse \n{\n    msg.payload = \"NOT RED\";\n    global.set(\"zone2\",msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["b7ff4e04.29bdf"]]},{"id":"2fc9f4ff.4018ec","type":"function","z":"8198f141.f979c","name":"is-Inside-OCZ?","func":"if(msg.location.inarea === true)\n{\n    msg.payload = \"ORANGE\";\n    global.set(\"zone1\",msg.payload);\n\n}\nelse \n{\n    msg.payload = \"NOT ORANGE\";\n    global.set(\"zone1\",msg.payload);\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["b7ff4e04.29bdf"]]},{"id":"dfc08a2e.313258","type":"inject","z":"8198f141.f979c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":43.00000333786011,"wires":[["ae95fc9a.36b33"]]},{"id":"40ba6762.260898","type":"owntracks","z":"8198f141.f979c","x":219.00000381469727,"y":139.99999618530273,"wires":[["f3012d1e.12715","3b0870e.3a2459","b5bf4c86.9eab1"]]},{"id":"a2dd4e7b.acfbe","type":"function","z":"8198f141.f979c","name":"Retrieve Data","func":"return {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"x":585.0000076293945,"y":45.000003814697266,"wires":[["40ba6762.260898"]]},{"id":"ae95fc9a.36b33","type":"webhookrelay","z":"8198f141.f979c","buckets":"locationdata","x":339,"y":44,"wires":[["a2dd4e7b.acfbe"]]},{"id":"1907b82b.8511c8","type":"pushover","z":"8198f141.f979c","name":"User-01","device":"","title":"Covid-Alert","priority":0,"sound":"pushover","url":"","url_title":"","html":false,"x":900,"y":320,"wires":[]},{"id":"220f1f2c.17f18","type":"debug","z":"8198f141.f979c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":500,"wires":[]},{"id":"b5a07d90.a3465","type":"http request","z":"8198f141.f979c","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.covid19india.org/v4/min/timeseries.min.json","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":380,"wires":[["af368e92.a0b21"]]},{"id":"af368e92.a0b21","type":"function","z":"8198f141.f979c","name":"AP-Covid Data","func":"global.set(\"confirm\",msg.payload[\"AP\"][\"dates\"][\"2021-05-24\"][\"total\"][\"confirmed\"]);\nglobal.set(\"desease\",msg.payload[\"AP\"][\"dates\"][\"2021-05-24\"][\"total\"][\"deceased\"]);\nglobal.set(\"recover\",msg.payload[\"AP\"][\"dates\"][\"2021-05-24\"][\"total\"][\"recovered\"]);\nglobal.set(\"test\",msg.payload[\"AP\"][\"dates\"][\"2021-05-24\"][\"total\"][\"tested\"]);\nglobal.set(\"vaccine\",msg.payload[\"AP\"][\"dates\"][\"2021-05-24\"][\"total\"][\"vaccinated\"]);\n\nmsg.payload = [\n    {\n        \"confirmed\" : global.get(\"confirm\"),\n        \"deceased\" : global.get(\"desease\"),\n        \"recovered\" : global.get(\"recover\"),\n        \"tested\" : global.get(\"test\"),\n        \"vaccinated\" : global.get(\"vaccine\")\n    }\n]\nmsg.topic = \"covid-data\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["8887025.34941","77c3580d.286328","228d3a59.883ff6"]]},{"id":"8887025.34941","type":"join","z":"8198f141.f979c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":744.9999980926514,"y":526.0000076293945,"wires":[["220f1f2c.17f18"]]},{"id":"791b03bd.d2429c","type":"pushover","z":"8198f141.f979c","name":"User-02","device":"","title":"Covid-Alert","priority":0,"sound":"pushover","url":"","url_title":"","html":false,"x":900,"y":400,"wires":[]},{"id":"77c3580d.286328","type":"function","z":"8198f141.f979c","name":"Check-01","func":"var ID = global.get(\"user\");\nif(ID==\"BS\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":740,"y":320,"wires":[["1907b82b.8511c8"]]},{"id":"228d3a59.883ff6","type":"function","z":"8198f141.f979c","name":"Check-02","func":"var ID = global.get(\"user\");\nif(ID==\"MB\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":740,"y":400,"wires":[["791b03bd.d2429c"]]}]