Node-RED_Flow.json
[{"id":"dc73af9a.545dd","type":"tab","label":"Monitoring Geofence","disabled":false,"info":""},{"id":"f087891b.3a5048","type":"webhookrelay","z":"dc73af9a.545dd","buckets":"MyLocation","x":280,"y":80,"wires":[["2d250324.ed598c"]]},{"id":"f3c2ac02.b59f1","type":"owntracks","z":"dc73af9a.545dd","x":350,"y":220,"wires":[["d97eba4e.dcfeb8","ac29485c.d1b0c8"]]},{"id":"d6016f8f.23316","type":"worldmap-tracks","z":"dc73af9a.545dd","name":"","depth":20,"layer":"combined","x":810,"y":200,"wires":[["6155dffa.5616d"]]},{"id":"6155dffa.5616d","type":"worldmap","z":"dc73af9a.545dd","name":"","lat":"14.9080937","lon":"78.0119596","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":860,"y":120,"wires":[]},{"id":"2d250324.ed598c","type":"function","z":"dc73af9a.545dd","name":"Extract Details","func":"return {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["f3c2ac02.b59f1"]]},{"id":"d97eba4e.dcfeb8","type":"function","z":"dc73af9a.545dd","name":"format JSON","func":"return {\n    payload: {\n        name: msg.payload.tid,\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        icon: 'user-circle-o'\n    }\n};","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["6155dffa.5616d","d6016f8f.23316"]]},{"id":"6e74d883.8fc948","type":"inject","z":"dc73af9a.545dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["f087891b.3a5048"]]},{"id":"c35fb358.57763","type":"http in","z":"dc73af9a.545dd","name":"WebPage","url":"/loc","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["74e6f4e7.012e9c"]]},{"id":"1798f2e9.1a23ad","type":"http response","z":"dc73af9a.545dd","name":"","statusCode":"","headers":{},"x":350,"y":460,"wires":[]},{"id":"8b3b34c0.6d0398","type":"template","z":"dc73af9a.545dd","name":"WebTemplate","field":"payload","fieldType":"flow","format":"handlebars","syntax":"mustache","template":"<html>\n      <head>\n            <title>GeoFence Location</title>\n      </head>\n      <body>\n            <div>obtaindata</div>\n      </body>\n</html>","output":"str","x":160,"y":460,"wires":[["1798f2e9.1a23ad"]]},{"id":"74e6f4e7.012e9c","type":"function","z":"dc73af9a.545dd","name":"GetData","func":"var obtaindata = global.get (\"data\")\nmsg.payload = obtaindata;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["8b3b34c0.6d0398"]]},{"id":"11e6fbc5.c4d0a4","type":"function","z":"dc73af9a.545dd","name":"SendData","func":"global.set(\"data\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":440,"wires":[["6037ce6f.4cf5b"]]},{"id":"e104b0ae.cc418","type":"function","z":"dc73af9a.545dd","name":"CheckLocation","func":"if(msg.location.inarea===true)\n{\n    msg.location.inarea = msg.payload;\n    msg.payload = \"You are Inside GeoFence.\\n\";\n}\nelse\n{\n    msg.location.inarea = msg.payload;\n    msg.payload = \"You are Outside GeoFence.\\nStay Home!\\nStay Safe!\\n\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["11e6fbc5.c4d0a4"]]},{"id":"ac29485c.d1b0c8","type":"geofence","z":"dc73af9a.545dd","name":"Geofence","mode":"circle","inside":"both","rad":927.3091961867611,"points":[],"centre":{"latitude":14.895188538629743,"longitude":1517.992715835571},"x":460,"y":340,"wires":[["e104b0ae.cc418"]]},{"id":"6037ce6f.4cf5b","type":"debug","z":"dc73af9a.545dd","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":560,"wires":[]},{"id":"532b3de.264d6c4","type":"inject","z":"dc73af9a.545dd","name":"","topic":"Notification","payload":"data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":580,"wires":[["33337f24.2c539"]]},{"id":"33337f24.2c539","type":"pushbullet","z":"dc73af9a.545dd","config":"46d77628.85e178","pushtype":"note","title":"Notification","chan":"","name":"","x":690,"y":580,"wires":[]},{"id":"46d77628.85e178","type":"pushbullet-config","z":"","name":"GeoFence Location"}]